#map { height: 580px; }
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: grey;
    color: white;
    position: relative; /* Position relative for the suggestions */
}
.Name {
    font-size: 24px;
    margin-right: 20px;
}
.Place {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 300px; /* Adjust width as needed */
}
.SearchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}
.suggestions-container {
    position: absolute;
    top: 100%; /* Align with the bottom of the input */
    left: 0;
    right: 0;
    background: white;
    border: 1px ;
    border-radius: 5px;
    z-index: 1000;
    max-height: 1000px; /* Limit height */
    overflow-y: auto; /* Scroll if necessary */
    
}
.suggestion {
    padding: 10px;
    color: black;
    cursor: pointer;
}
.suggestion:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}