#map { height: 594px; }
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: grey;
    color: white;
    position: relative; /* Position relative for the suggestions */
}
.Name {
    font-size: 24px;
    margin-right: 20px;
}
.Place {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 300px; /* Adjust width as needed */
}
.SearchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}
.suggestions-container {
    position: absolute;
    top: 100%; /* Align with the bottom of the input */
    left: 0;
    right: 0;
    background: white;
    border: 1px ;
    border-radius: 5px;
    z-index: 1000;
    max-height: 1000px; /* Limit height */
    overflow-y: auto; /* Scroll if necessary */
    
}
.suggestion {
    padding: 10px;
    color: black;
    cursor: pointer;
}
.suggestion:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}
.LineOA{
    position: absolute;
    right: 20px;
    background-color: grey;
    border: none;
    color: white;
}
#centerButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: grey;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1000;
    
}
img{
    width: 25px;
    height: 25px;
}
.location-info {
    position: absolute;
    top: 70px; /* Adjust positioning as needed */
    right: 20px;
    width: 250px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
    z-index: 1000;
}
.location-info h3 {
    margin-top: 0;
}